<!DOCTYPE html>
<html>
<head>
    <title>Your Notes</title>
</head>
<body>
    <h1>Your Notes</h1>
    
    {% if notes %}
        <ul>
            {% for note in notes %}
                <li>
                    <h2>{{ note.title }}</h2>
                    <a href="{% url 'view_note' note.url_id %}">View Note</a>
                </li>
                <br/>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no notes.</p>
    {% endif %}
    <a href="{% url 'create_note' %}">Create Note</a>
</body>
</html>
